@model UniversityWebApp.Models.Student

<h2>Create New Student</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Student Name:</label>
        <br />
        <input asp-for="Name" />
    </div>
    
    <br />

    <div>
        <label>Major:</label>
        <br />
        <input asp-for="Major" />
    </div>

    <br />

    <button type="submit">Submit</button>
</form>

<br />
<a href="/Student/Index">Back to List</a>