@model IEnumerable<UniversityWebApp.Models.Student>
<a href="/Course/Index">Go to Courses Page</a>
<br /><br />
<h2>All Students</h2>
<ul>
    @foreach (var student in Model)
    {
        <li>
            <strong>@student.Name</strong>
            <br />
            <a href="/Student/Details/@student.Id">View Details</a> |
            <a href="/Student/Delete/@student.Id">Delete</a>
        </li>
    }
</ul>
<a href="/Student/Create">Create New Student</a>